.wait-time-container {
    text-align: center;
    font-family: Arial, sans-serif;

    width: 100%;
    /* margin: -1rem; */
    height: 103vh; /* Full viewport height */

    display: flex;
    flex-direction: column;
    align-items: center;    /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center;      /* Center text inside children */
    /* justify-content: space-between; */
}

.wait-time > * {
    min-height: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-word;
    width: 20rem;
}

.wait-time h1 {
    margin: 0;
    height:0;
}
.wait-time h2 {
    margin: 0;
    font-size: 1.5rem;
}

.wait-time h3 {
    margin: 0;
    margin-top: 1rem;
}
.wait-time h4 {
    margin-bottom: 0;
    min-height: 0;
}
.wait-time p {
    margin: 0;
    min-height: 0;
}

.magic-kingdom {
    background-image: url("/assets/mk.gif");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    margin-left: -1rem;

}
.epcot {
    background-image: url("/assets/epcot2.gif");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.animal-kingdom {
    background-image: url("/assets/ak.gif");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    margin-right: -1rem;
}
.hollywood-studios {
    background-image: url("/assets/hollywood-studios.gif");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.wait-time {
    color: white;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.15); /* semi-transparent background */
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 32px rgba(0,0,0,0.15);
    backdrop-filter: blur(12px); /* <-- Blur effect behind the box */
    -webkit-backdrop-filter: blur(12px); /* Safari support */
}
